.custom-alert {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: unset;
  z-index: 99;
}

.shown {
  opacity: 0.85;
  transition: all 250ms linear;
}

.hidden {
  opacity: 0;
  transition: all 250ms linear;
}
