header {
  background-image: url("./background.jpg");
  background-position: center center;
  background-size: cover;
  height: 450px;
  color: white;
}

@media (max-width: 576px) { 
  header {
    height: 300px;
  }

  .mobile-hidden {
    display: none;
  }
}