$box-shadow-color: rgba(10, 10, 10, 0.1);

.tweet {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 3px $box-shadow-color, 0 0 0 1px $box-shadow-color;
  word-wrap: break-word;
}

.avatar-tweet {
  width: 64px;
  border-radius: 50%;
}

.sub-text  {
  color: lightgray;
  font-size: 16px;
}

.media-body > svg {
  color: lightgray;
  font-size: 16px;
  margin-right: 8px;
  &:hover {
    color: gray;
    cursor: pointer;
  }
}

.liked {
  color: red !important;
}