.tweetbox {
  height: 60px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.avatar {
  width: 200px;
  border: 6px white solid;
  border-radius: 50%;
  position: relative;
  top: -6rem;
}