.alert {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: unset;
  z-index: 999;
}

.shown {
  opacity: 0.85;
  transition: all 250ms linear;
}

.hidden {
  opacity: 0;
  transition: all 250ms linear;
}

header {
  background-image: url("background.jpg");
  background-position: center center;
  background-size: cover;
  height: 450px;
  color: white;
}

.avatar {
  width: 200px;
  border: 6px white solid;
  border-radius: 50%;
  position: relative;
  top: -6rem;
}

.tweetbox {
  height: 60px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.tweet {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  word-wrap: break-word;
}

.avatar-tweet {
  width: 64px;
  border-radius: 50%;
}

.fa-retweet,
.fa-heart,
.fa-trash-alt,
.sub-text {
  color: lightgray;
  font-size: 16px;
}

.fa-retweet:hover,
.fa-heart:hover,
.fa-trash-alt:hover {
  color: gray;
  cursor: pointer;
}

.fa-heart.liked {
  color: red;
}

@media (max-width: 576px) { 
  header {
    height: 300px;
  }
  .mobile-hidden {
    display: none;
  }
}